// Body
body{
	color: aquamarine;
	background-color: antiquewhite;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#testVR {
	background-image: url('../img/download_bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}
